
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

*, *::before, *::after {
    font-family: inherit;
}

html, body{
    margin: 0;
    padding: 0;
}

body { 
   display: block;
    background: #000000; 
    font-family: "Sometype mono", monospace;
    font-weight: 400;
    color: #E9EAED;
    min-height: 100vh;
}

/* Scrollbar za citavu stranicu */
body::-webkit-scrollbar, .modal-content::-webkit-scrollbar, .left-col::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb, .modal-content::-webkit-scrollbar-thumb, .left-col::-webkit-scrollbar-thumb {
    background: #77e48b;
    opacity: 0.5;
    border: 2.5px ridge black;
    border-radius: 8px;
}

body::-webkit-scrollbar-track, .modal-content::-webkit-scrollbar-track, .left-col::-webkit-scrollbar-track {
    background: rgba(0,0,0);
    border: 1px solid #2d2d2d;
}

p, ol, ul, h3{
  font-size: 18px;
  margin: auto, 0;
}

img{
  display: inline-block;    /* ponaša se kao riječ/kartica */
  margin: 4px;        
  border: 3px ridge #E5DFD0;         
  border-radius: 4px;                
}
/*---navbar---*/

#ime-u-cosku{
  display: flex;
  align-items: center;
}
#ime-u-cosku, #cv {
  position: fixed; 
  top: 8px;
  left: 15px; 
  font-weight: 400; 
  font-size: 18px; 
  text-decoration: none;
  color: #E9EAED;
  margin: 0.4%;
  text-shadow: 2px 2px #36815c;
  gap: 8px;
}

#cv{
  top: 13px;
  right: 70px;
  width: 25px;
  left: auto;
  border: 1px solid white;
  padding: 1.5px 2px 1.5px 5px;
}


#ime-u-cosku:hover, #cv:hover {
  color: #77e48b;
  text-shadow: none;
  font-weight: 700; 
  filter: brightness(0)
    saturate(100%)
    invert(78%)
    sepia(24%)
    saturate(559%)
    hue-rotate(83deg)
    brightness(95%)
    contrast(92%);
}

#favicon-cosak{
  border: none;
  background: none;
  width: 25px;
  vertical-align: middle;
}




#menu-toggle {
  display: none;
}

/* --- Hamburger ikonica --- */
.hamburger {
  position: fixed;
  top: 20px;
  right: 30px; 
  width: 30px;
  height: 24px;
  cursor: pointer;
  z-index: 1001; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger span {
  display: block;
  height: 4px;
  background: white;
  border-radius: 3px;
  transition: 0.4s;
}

.hamburger:hover span{
  background: #77e48b;
}

/* --- Hamburger animacija --- */
#menu-toggle:checked + .hamburger span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

#menu-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .hamburger span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* --- sidebar --- */
.overlay {
  position: fixed;
  top: 75px;
  right: -100%; /*sakriveno*/
  width: 250px;
  height: 100vh;
  background: rgba(0,0,0,0.89);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  transition: right 0.4s ease;
  z-index: 1000;
  
  border: 5px ridge #E9EAED; 
  border-radius: 10px;
}

.overlay a {
  color: white;
  padding: 15px 25px;
  font-size: 18px;
  text-decoration: none;
  transition: background 0.2s;
}

.overlay a:hover {
  background: rgba(255,255,255,0.1);
  color: #77e48b;
}

/* ---kad je checkirano otvara se sidebar--- */
#menu-toggle:checked ~ .overlay {
  right: 0;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(10px);
  display: flex;
  z-index: 500;
  border-bottom: 5px ridge #ffffff;
}



#odabrano {
  background: rgba(255,255,255,0.1);
}


/*index*/

.main {
  margin: 1% 5%; 
  display: grid;
  grid-template-columns: 1fr;
  flex: 1;
  align-items: center;
}

#naslovna {
  padding-top: 35vh;
}

#istaknuto {
  background-color: #30C48E; 
  color: #ffffff;
}

/* dio css koristen za animaciju na pozadini glavne stranice
 uradjeno po tutorijalu sa: https://dev.to/uuuulala/making-background-blob-animation-in-just-15kb-step-by-step-guide-2482 */

        @keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        .veci-gornji {
            animation: rotate 40s linear infinite;
            transform-origin: 13px 25px;
        }

        .manji-gornji {
            animation: rotate 20s linear infinite;
            transform-origin: 13px 25px;
        }

        .veci-donji {
            animation: rotate 50s linear infinite;
            transform-origin: 84px 93px;
        }

        .manji-donji {
            animation: rotate 30s linear infinite;
            transform-origin: 84px 93px;
        }


.opis{
    padding: 3.5em;   
    background: rgba(13, 24, 33, 0.70);
    backdrop-filter: blur(6px);
    border: 3px ridge #E5DFD0;
    border-radius: 15px;
    overflow: hidden;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

#about{
  margin: 40vh 5% 5%;
}
#ikonice-container {
    gap: 7px;
    padding: 0;
    width: 100%;
    justify-content: center;
}

#ikonice-container img{        
  height: 55px;
  padding: 1%;
}


.tipka {
  padding-left: 15%;
  margin: 0%;
  margin-top: 0%;
  display: flex;            /* omogućava poravnanja */
  flex-wrap: wrap;          /* riječi idu jedna za drugom */
  justify-content: flex-start;
  align-items: flex-start;
  text-align: flex-start;
  padding-right: 15%;
}
/*izgled tipke*/
.tipka p, h2, .tipka img{
  padding: 2px 4px;
  display: inline-block;    /* ponaša se kao riječ/kartica */
  font-size: 230%;
  margin: 4px;
  font-weight: 550;
  background: #e5dfd0;              
  border: 2.5px solid #000000;         
  border-radius: 0px;                
  
  color: #000000;

  box-shadow:
    0 2px 0 #b8b2a3,               
    0 4px 0 #58554e;               
  
  transform: translateY(0);
  transition: transform 0.02s, box-shadow 0.08s;

} 

.tipka p:hover, h2:hover, #ikonice-container img:hover {
  transform: scale(0.9);
}

/*pozadina na drugim str*/

svg {
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.svg-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100000;
  opacity: 0.7;
  transform: scale(1.2);
  pointer-events: none;
  overflow: hidden;

}

.svg-wrapper svg {
  animation: a1 16s ease-in-out infinite;
}

@keyframes a1 {
    0%   { transform: rotate(0deg) scale(1); }
    50%  { transform: rotate(-3deg) scale(1.04); }
    100% { transform: rotate(0deg) scale(1); }
}

/*naslovi drugih stranica*/
.tipka h2{
  width: fit-content;
  margin-top: 80px;
  margin-bottom: 0%;
  margin-left: 0%
}






/*projekti*/

.projekti-container {
  padding: 2%;   
  border: 3px ridge #E9EAED; 
  border-radius: 15px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  margin: 5%;
  background: rgba(13,24,33, 0.5);
}

.projekti-container a {
   text-decoration: none; 
   color: #ffffff;
}

.projekat-pregled {
  margin: 1%;
  background-color: #000000; 
  padding: 2%;   
  border: 3px ridge #E9EAED; 
  border-radius: 15px;
  z-index: 10;
  flex: 1;
  transition: transform 0.15s ease-in-out;

}

.projekat-pregled:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.projekat-pregled h3, .post-content h3, .opis h3, form h3{
  font-size: 28px;
  color: #30C48E; 
  text-shadow: 1px 1px black;
}

.projekat-pregled .tech {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.8;
}


.modal {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px);
  
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);

  display: none;              /* skriven dok nije target */
  justify-content: center;
  align-items: center;

  padding: 0px 0;            /* prostor za skrol */
  z-index: 9999;              /* iznad svega */
}

.modal img{
  margin: 20px 5px;
  width: 80%;
  padding: 5px;
}

/* KAD SE OTVORI */
.modal:target {
  display: flex;
}

/* PROZOR UNUTRA */
.modal-content {
  width: 70%;
  max-height: 75vh;           /* da može scroll */
  overflow-y: auto;           /* skrol unutar prozora */
  overscroll-behavior: contain;

  background: rgba(0, 0, 0, 0.7);
  border: 4px ridge #E9EAED;
  border-radius: 10px;
  
  color: #E9EAED;
  padding: 30px;
  box-shadow: 0 0 30px #000;
}

.modal-content h2{
  padding-left: 0%;
}

.modal-content h3{
  font-size: 28px;
}
.modal-content img{
  width: 70%;
  margin-left: 5%;
}

.close {
  position: sticky;
  top: 0;
  float: right;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0;
  font-size: 40px;
  text-decoration: none;
  color: #30C48E;
  background-color: #fff;
  margin-left: 95%;
}

.close:hover {
  color: #E5DFD0;
}

body:has(.modal:target) footer {
    display: none;
}

body:has(.modal:target) {
    overflow: hidden;
}

#naslov{
  padding-left: 5%;
  margin-top: 2.5em;
  margin-bottom: 1em;
}



/*dugmici*/

#dugme1, #x, .img-close {
  margin-left: 15.2%; 
  margin-top: 4%; 
  text-decoration: none;
  display: inline;
  width:  fit-content;
  color: #E5DFD0;
  border: 2px ridge #E5DFD0;
  padding: 12px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.5s ease, filter 0.7s ease;
  box-shadow: none;
  background: rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
}

#x{
  margin: 0;
}

#dugme1:hover, #x:hover, .img-close:hover {
  background-color: #E5DFD0;
  color: #000;
}

/*kontakt*/

#kontakt{
  margin: 0% 5%;
  height: 200px;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3%;
}
#kontakt img{
  max-height: 90%;
  max-width: 35%;
  border: 3px ridge white;
  border-radius: 50%;
}

form {
  margin: 2% 5% 5%;
  margin-top: 80px;
  background: rgba(13, 24, 33, 0.70);
  backdrop-filter: blur(10px);
  border: 3px ridge #E5DFD0;
  padding: 30px;
  border-radius: 15px;
}

label {display: block;}

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 10px 2px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

form #x{
  margin-top: 10px;
}

.poruka {
  height: 100px;  
  padding: 15px;  
}

/*footer*/

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: white;
  z-index: 4000;
  font-size: 14px;
  height: auto;
  background: #000;
  padding: 15px;
  margin-top: auto;
  margin-bottom: 0;
}

footer img{
  max-height: 20px;
  padding: 3px;
  background: #000;
  border: none;
}

#footer-lijevo{
   display: flex; 
   align-items: center;
  }

#footer-desno{
  text-align: right;
}

/*galerija*/
.gallery {
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 2%;   
  border: 3px ridge #E5DFD0;
  border-radius: 15px;
  background: rgba(13,24,33, 0.5);
  backdrop-filter: blur(10px);
}

.gallery img {
    width: 94%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.2s ease, filter 0.2s ease;
}
.gallery img:hover{
  transform: scale(1.03);
}


.img-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  backdrop-filter: blur(6px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.img-modal:target {
  display: flex;
}

.img-modal img {
  max-width: 90vw;
  max-height: 85vh;
  object-fit: contain;
  border: 4px ridge #E9EAED;
  border-radius: 12px;
}
.img-close {
  position: fixed;
  top: 0px;
  right: 25px;
}

#galerija {
  margin: 0% 5%;
  padding: 2% 2%;
}

body:has(.img-modal:target) {
  overflow: hidden;
}


/*blog*/

.post-card {
    padding: 1em;
    background: rgba(13, 24, 33, 0.55);
    border: 3px ridge #E5DFD0;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform .25s ease, box-shadow .25s ease;
    align-items: center;
    height: fit-content;
}

.post-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,255,140,0.15);
}

.post-thumb {
    width: 95%;
    height: 310px;
    object-fit: cover;
    border-bottom: 3px ridge #E5DFD0;
}

.post-content {
    width: 95%;
    padding: 0.9rem 1.2rem;
    
}

.post-content h3, .modal-content h3 {
    font-size: 18px;
    color: #77e48b;
    text-shadow: 2px 2px #000;
}


.post-excerpt {
    font-size: 12px;
    margin: 10px 0px 15px;
    color: #d6d6d6;
    line-height: 1.4;
}

.read-more {
    color: #E5DFD0;
    border: 2px ridge #E5DFD0;
    padding: 6px 10px;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.read-more:hover {
    background-color: #E5DFD0;
    color: #000;
}

/* === dvije kolone sa odvojenim scrollanjima ===
zamijenjene su strane jer sam u zadnji cas skontala da to bolje izgleda*/

.blog-grid {
     display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;

   height: calc(100vh - 60px); /* navbar */
    overflow: hidden;

    margin-top: 65px;
    padding: 0% 5% 0;
}

.blog-col {
     overflow-y: auto;
}

/* Lijeva kolona (postovi) */
.posts {
    display: grid;
    grid-template-columns: 1fr;        /* svaki post full width */
    gap: 2rem;
}

/* Desna kolona (sidebar) */
.sidebar {
    margin-top: 10px;
    background: rgba(13, 24, 33, 0.55);
    border: 3px ridge #E5DFD0;
    padding: 1.5rem;
    border-radius: 12px;
    color: #E9EAED;
}



.right-col{
  padding: 20px 3% 3% 3%;
  height: 85vh;
}
.left-col {
        padding: 3%;
    }


@media only screen and (max-width: 800px){
   p, ol, ul{
    margin: 15px;
    font-size: 12px;
  }

  h3{
    margin :15px;
    font-size: 15px;
  }

  #cv{
    top: 16px;
  }
  #ime-u-cosku{
    top: 15px;
   }

   .modal-content {
    width: 90% !important;
    padding: 15px;
   }

   .modal-content h2{
    font-size: 1.3rem;  
    padding-left: 10px; 
    white-space: normal; 
  }
  .modal-content #x{
    font-size: 1.3rem;  
    padding: 4px; 
  }
  .tipka {
    padding-right: 10%;
    padding-left: 10%;
  
  }
  .tipka p{
      font-size: 120%;  
  }
  .main {
    margin: 0%;
  }

  #about {
    margin-top: 100%;
  }
  .projekat-pregled {
    padding: 8%;
  }
  
  #dugme1 {
    margin-top: 8%;
    margin-left: 11%;
    border: 1px solid #fff;
    font-weight: 400;
  }

  .opis{
    padding: 10px;
  }

    #naslovna {
    padding-top: 35vh;
  } 
    body {
    overflow-y: auto;
  }

  .blog-grid {
    display: block;
    height: auto;
    overflow: visible;
  }

  .blog-col {
    overflow: visible;
    max-height: none;
  }

  .right-col {        /* → sidebar i dalje skrola */                /* koliko visoko želiš */
        margin-top: 15px;
        margin-bottom: 2px;
        height: fit-content;
    }
  .post-content h3 {
        font-size: 20px;
    }
  .post-content p, .sidebar p{
        font-size: 16px;
    }

  .sidebar {
      margin-top: 20px;
      padding: 0.5em;
    }
    
  .svg-wrapper {
    width: 100em;
  }
  footer {
    margin-top: 80px;
    padding-top: 30px;
    background: #000;
  }

    
}




